body {
    font-family: "Inter", "Segoe UI", Roboto, Arial, sans-serif;

    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(rgba(255,255,255,0.5),
                                rgba(255,255,255,0.5)),
                url("img.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#title {
    color: rgb(17, 125, 161);
}    
h1 {
    color: rgb(17, 125, 161);
    font-size: 40px;
}

#guess {
    padding: 10px;
    font-size: 18px;
    width: 200px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin-left: 10px;
    background-color:green;
    color: rgb(141, 234, 65);
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid blue;
}
@media (max-width: 600px) {
    body {
        padding: 50px 20px;
    }

    #guess {
        width: 90%;
        max-width: 250px;
    }

    button {
        margin-top: 10px;
        margin-left: 0;
    }

    h1 {
        font-size: 30px;
    }
}